/* Default background */
.start-root {
    -fx-background-color: #f0f0f0;
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-padding: 100 50 100 50;
}

.start-root .title {
    -fx-alignment: center;
}

.start-root .subtitle {
    -fx-alignment: center;
}

.start-root .config-box {
    -fx-spacing: 15;
    -fx-alignment: center;
}

.start-root .text-field {
    -fx-pref-width: 250px;
}

.start-root .start-button {
    -fx-pref-width: 150px;
}

.start-root .port-container {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.start-root .port-container .label-text {
    -fx-text-alignment: center;
}

.game-root {
    -fx-background-color: #f0f0f0;
    -fx-spacing: 15;
    -fx-padding: 30 30 30 30;
}

.game-root .title-box {
    -fx-alignment: center;
}

.game-root .info-box {
    -fx-spacing: 30;
    -fx-alignment: center-left;
}

.game-root .button-container {
    -fx-spacing: 30;
    -fx-alignment: center-right;
}

.game-root .left-aligned-text {
    -fx-alignment: center-left;
}

.game-root .control-button {
    -fx-pref-width: 180px;
}

.game-root .list-view {
    -fx-pref-height: 450;
}


