.odds-window {
    -fx-background-color: linear-gradient(to bottom, #5a0f0f, #3b0808);
    -fx-border-color: gold;
    -fx-border-width: 4px;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.odds-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: gold;
    -fx-effect: dropshadow(gaussian, black, 8, 0.3, 0, 2);
        -fx-font-family: "Georgia", "Times New Roman", serif;
}

.odds-section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffd966;
    -fx-underline: true;
    -fx-font-family: "Georgia", serif;
}

.odds-entry {
    -fx-font-size: 16px;
    -fx-text-fill: #fff2cc;
    -fx-font-family: "Georgia", serif;
}